<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_URI} ^/viewlog\.php$
RewriteRule ^ - [L]   RewriteRule ^ index.php [L]
</IfModule>
